/* Basic Style */

body {
  font-family: Lato, sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

ul {
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

button {
  width: 60px;
  font-family: inherit;
  font-size: 15px;
  color: #888;
  background: none;
  border: 0px;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}


.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: serif;
}


.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.section__title {
  margin: 0;
  padding: 30px 0 10px;
  font-weight: 700;
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}


/* New Task */

.add-task__wrapper {
  display: flex;
  padding: 20px 0;
}

.add-task .task__label {
  display: block;
  padding-left: 0;
  font-size: 15px;
}

.add-task .task__text {
  display: block;
}


/* Task list */

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 10px;
  flex-grow: 1;
  font-size: 18px;
}

.task__text {
  display: none;
  margin: 0;
  padding: 0 9px;
  flex-grow: 1;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.task__text:focus {
  color: #333;
}


/* Buttons */

.task__delete .delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete:hover .delete-img {
  transform: rotateZ(0);
}


/* Edit Task */

.edit-task .task__label {
  display: none;
}

.edit-task .task__text {
  display: block;
}


/* Completed */

#completed-tasks .task__label {
  text-decoration: line-through;
  color: #888;
}
